.img-perfil{
    margin: 0 auto;
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border: 7px solid rgb(168, 168, 168);
    border-radius: 200px;
    overflow: hidden!important;
    background-color: #1c1c1c;
    z-index: 2;
    text-align: center;
}

.card:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.box{
    height: 175px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.card-img-top{
    height: 132px;
}
.bg{  
    background-image: linear-gradient(brown, white);
}

.form-img{
    margin: 0 auto;
    border: 5px solid #1c1c1c;
    background-color: white;
    border-radius: 200px;
    overflow: hidden!important;
    z-index: 2;
    image-rendering: auto;
}

#icon-custom {
    width: 60px;
    margin-top: -25px;
}

#contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


p{
    font-size: 18px;
}
h1 {
    font-size:40px;
}
h2 {
    font-size: 30px;
}